html,
body,
#root,
.app {
  background-color: white;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgreen;
}

.page-header {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgreen;
    align-self: center;
}

.header img {
    height: 50px;
    width: 50px;
}

/* NAV STYLE */

.nav-bar {
    color: rgb(162, 255, 162);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-login {
    display: flex;
    align-items: center;
}

/* LOGIN STYLE */

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
}

.login-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* CARD STYLE */
.card-page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0.5rem;
}

.cards-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 221, 221);
}

.cards-aside li {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.25rem;
    border: 1px solid gray;
    background-color: rgb(162, 255, 162);
    color: black;
    border-radius: 0.2rem;
}

.cards-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-visual {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/originals/66/b1/29/66b1298df868370cadaad91b532ab093.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    border-radius: 5px;;
}

.cards-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.card-header img {
    height: 30px;
    width: 30px;
    grid-row: 2/3;
    grid-column: 1/1;
}
.card-header {
    height: 5.5rem;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-header p {
    font-size: 18px;
    grid-row: 1/1;
    grid-column: 3/3;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ACCOUNTS */

.account-container {
    border: 2px solid olivedrab;
    border-radius: 5px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    width: 85%;
    height: 33%;
    margin-bottom: 2rem;
    padding: 10px;
    position: relative;
    left: 5em;
}

.account-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}

.account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 85%;
    background-color: darkslateblue;
    border-radius: 3px;
}

.accounts-list {
    
}
 
/* BILLS */

.bills-main {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.bills-container {
    grid-column: 1/2;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bills-accounts-list {
    grid-column: 2/3;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    border-left: 2px solid black;
    height: 100%;
}

.single-bill {
    border: 2px solid olive;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0.5rem;
    height: 100%;
    background-color: rgb(253, 240, 224);
}